.user-login-form {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.user-login-form > h1 {
    color: #110767;
}

.user-login-div {
    margin-bottom: 20px;
}

.form-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.login-input {
    border: none;
    border-bottom: 2px solid #3f1980;
    padding: 5px 8px 5px 8px;
    outline: none;
}
